:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #fff;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#header-stats-section {
  background-color: #1a1a1a;
  position: absolute;
  top: 150px;
  left: 0;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 26px;
}

#clicks-per-second-display {
  margin-top: 5px;
  font-size: 14px;
}

.modal {
  width: 50%;
  height: 50%;
  background-color: #1a1a1a;
  z-index: 1;
  border-radius: 8px;
}

#modal-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

#notification-area {
  position: absolute;
  top: 0;
  height: 10%;
  overflow-y: scroll;
}

.notification {
  margin-top: 10px;
  padding: 2.5px;
  padding-left: 100px;
  padding-right: 100px;
  background-color: #1a1a1a;
  border-radius: 8px;
}

.close-notification {
  position: absolute;
  left: 0;
  margin-left: 10px;
  cursor: pointer;
}

#main-button {
  padding: 6.5em 6.5em;
  border-radius: 50%;
}

button,
#buttons button,
#buttons label {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 1em 1.25em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover,
#buttons button:hover,
#buttons label:hover {
  border-color: #646cff;
}

.left {
  left: 0;
  margin-left: 10px;
}

.right {
  right: 0;
  margin-right: 10px;
}

.bottom {
  bottom: 0;
  margin-bottom: 10px;
}

#buttons {
  position: absolute;
  display: flex;
  flex-flow: column;
}

#game-data-reset-button {
  position: absolute;
}

[aria-disabled="true"] {
  color: GrayText;
}

.explain-sentence {
  font-size: 11px;
}

@keyframes floatWord {
  100% {
    margin-top: -200px;
    opacity: 0;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  button,
  #buttons button,
  #buttons label {
    background-color: #f9f9f9;
  }

  #header-stats-section {
    background-color: #f9f9f9;
  }

  .notification {
    background-color: #f9f9f9;
    color: #000;
  }

  .modal {
    width: 50%;
    height: 50%;
    background-color: #f9f9f9;
    color: #000;
    z-index: 1;
    border-radius: 8px;
  }

  #modal-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }
}
